<ion-header>
  <ion-toolbar>
    <ion-title>modal-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
	<ion-row>
		<ion-col class="" text-center>
	    	<ion-chip id="commandeChip" class="color-back">
					<ion-label style="color: white;">COMMANDE N.{{commande.numero}}</ion-label>
			</ion-chip>
			<ion-card style="min-height: 725px;">
				<ion-card-header>
				</ion-card-header>
				<ion-card-content>
					<ion-grid class="color-text">
						<ion-row text-center>
							<ion-col col-1>
							</ion-col>
							<ion-col col-3>
								NOM
							</ion-col>
							<ion-col col-3>
								PRIX
							</ion-col>
							<ion-col col-2>
								QUANTITE
							</ion-col>
							<ion-col col-3>
								TOTAL
							</ion-col>
						</ion-row>
						<ion-row text-center *ngFor="let produit of commande.produits; let i = index " (click)="showOrHideOperations(i)" class="list-row-item">
							<ion-col col-1>
								<img src="{{produit.url}}" />
							</ion-col>
							<ion-col col-3>
								{{produit.nom}}
							</ion-col>
							<ion-col col-2>
								<span class="digits">{{produit.prix}}</span> €
							</ion-col>
							<ion-col col-3>
								<span>{{produit.quantite}}</span>
							</ion-col>
							<ion-col col-2>
								{{produit.quantite * produit.prix}}
							</ion-col>
							<ion-col col-1 text-center *ngIf="produit.show">
								<ion-icon class="digits" name="trash"></ion-icon>
								<ion-icon name="create"></ion-icon>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-grid id="bottom-gird" text-center style="width: 40%">
								<ion-row>
									<ion-col class="bit-element" style="font-size: 15pt;">
										{{calculer()}} €
									</ion-col>
								</ion-row>
								<ion-row>
									<ion-col size-md="8" size-lg="8" size-xs="12" size-sm="12" text-center class="color-text">
										<ion-grid>
											<ion-row text-center *ngIf="!encaisser">
												<ion-col text-left size="6" >
													<button class="color-back unselected left-raduis" (click)="toEncaisser()" text-center>
														<b>ENCAISSER</b>
													</button>
												</ion-col>
												<ion-col text-right size="6">
													<button class="selected right-raduis" (click)="toImprimer()" text-center>
														<b>IMPRIMER</b>
													</button>
												</ion-col>
											</ion-row>
											<ion-row *ngIf="encaisser">
												<ion-col size="6">
													<button style="" class="selected left-raduis" (click)="toEncaisser()" text-center>
														<b>ENCAISSER</b>
													</button>
												</ion-col>
												<ion-col size="6">
													<button style="" class="color-back unselected right-raduis" (click)="toImprimer()" text-center>
														<b>IMPRIMER</b>
													</button>
												</ion-col>
											</ion-row>
										</ion-grid>
									</ion-col>
									<ion-col size-md="4" size-lg="4" size-xs="12" size-sm="12" text-center>
									    <button class="addButton">
									    	<ion-icon name="add"></ion-icon>
									    </button>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-row>
					</ion-grid>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
</ion-grid>

</ion-content>
