ion-grid {
	
}

@media (min-width: 0) and (max-width: 576px) {
  .hide-only-xs {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .hide-only-sm {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .hide-only-md {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .hide-only-lg {
    display: none;
  }
}

@media (min-width: 1200px) {
  .hide-only-xl {
    display: none;
  }
}

.grid-contener{
    overflow: auto;
}

ion-icon.icon-size {
  font-size: 28px;
}

#addButton {
    position:fixed;
    bottom: 10px;
}

ion-fab-button {
  --background: #142768;
}

.app-filters {
  --min-width: 80%;
}

ion-popover {
  --min-width: 80%;
}