<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      TABLES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-refresher slot="fixed"  (ionRefresh)="initItems($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>  
</ion-refresher>
        <ion-grid class="header-bg">
          <div >
            <ion-fab-button color="secondary" (click)="goToAnoterPage('/commandes/new')">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-label color="light ion-text-center block label-title">Ventes de la journee</ion-label>
            <ion-label color="light ion-text-center price-label block">{{workMoney}} CFA</ion-label>
            <div class="flex-center-row">
              <ion-label color="light ion-text-center date-label block">{{time}}</ion-label>
            </div>
          </div>
      </ion-grid>
      <ion-grid>
      </ion-grid>
      <ion-grid>
        <ion-card-title class="ion-text-center activite">EN ACTIVITE</ion-card-title>
        <ion-row>
          <ion-col  *ngFor="let table of tableShop" (click)="openOrder(table.id)" [className]="table.commandes>0?'rectangle':'hide'">
             <ion-label color="light ion-text-center">{{table.name}}</ion-label>
              <b>{{table.commandes}}</b>
            <div>
              {{table.description}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
     
      <ion-grid>
        <ion-card-title class="ion-text-center activite"> AUTRES </ion-card-title>
        <ion-row>
          <ion-col  *ngFor="let table of tableShop" [className]="table.commandes==0?'rectangle gris':'hide'">
             <ion-label color="light ion-text-center">{{table.name}}</ion-label>
            <div>
              {{table.description}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>


</ion-content>
