<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon id="menu" ion-button ion-btn color="light" name="menu" (click)="openModalMenu()"></ion-icon>
    </ion-buttons>
    <ion-title>
      STOCKS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="stock-produits" >
    <ion-refresher slot="fixed"  (ionRefresh)="initItems($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Tirer pour actualiser"
          refreshingSpinner="circles"
          refreshingText="Rafraichissement...">
        </ion-refresher-content>  
    </ion-refresher>
            
    <!-- <ion-fab vertical="top" horizontal="start" > -->
        <ion-fab-button  class="fab-show-list" (click)="showListCategory()" color="dark" vertical="top" horizontal="start" slot="fixed" >
          <ion-icon name="eye"></ion-icon>
        </ion-fab-button>
      <!-- </ion-fab> -->

    <ion-grid>
        <!-- <ion-card-title class="ion-text-center activite">{{cat_name}}</ion-card-title> -->
        <ion-row id="searchRow">
            <ion-col size="12">
                <ion-searchbar placeholder="Filtrer les produit" class="hide-only-lg hide-only-xl hide-only-md"></ion-searchbar>
            </ion-col>
        </ion-row>
        <ion-row style="justify-content: center;">
            <button *ngIf="cat_id" class="add" (click)="presentModal()">AJOUTER UN PRODUIT</button>
        </ion-row>
        <div class="parent-wrapper">
            <div class="parent">
                <div class="child" *ngFor="let cate of produits ; let i = index" (click)="openProduct(cate)" >
                    <label  [ngStyle]="{'background':cate.color}">{{cate.name}}</label>
                    <label class="price">QTE : {{cate.qty_stock}}</label>
                    <img [src]="removeText(cate.icon)">
                </div>
            </div>
        </div>

    </ion-grid>

    <div id="categoriesList-" >
        <div class="title-details" (click)="hideListCategory()">
              <ion-icon name="arrow-down" style="color:black"></ion-icon>
        </div>
        <div>
            <div col-md-2 class="catory-item-" *ngFor="let cate of categories ; let i = index" (click)="initItems(0,cate.id,cate.nom)">
                <img src="{{cate.image}}">
                <button (click)="filtrerParID(cate.id)">{{cate.nom}}</button>
            </div>
        </div>
    </div>
</ion-content>
