<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      STOCKS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="stock-produits" >
<div class="modalShow" *ngIf="selected>=0">
        <ion-row class="head">
            <ion-col class="top-main-product">
                <!-- <button class="close-btn" (click)="closeDetailProductModal()">x</button> -->
                <img [src]="removeText(produits[selected].icon)">
            </ion-col>
            <ion-col>
                <div>{{produits[selected].name}}</div>
                <div>Prix : <b>{{produits[selected].price}} CFA</b></div>
                <label>Disponible : {{produits[selected].qty_stock}}</label>
                <table>
                    <tr>
                        <td><button class="reduce" [disabled]="produits[selected].qty<=(-1*produits[selected].qty_stock)" (click)="produits[selected].qty=produits[selected].qty-1">-</button></td>
                        <td><input type="number" min="0" max="{{produits[selected].qty_stock}}" step="0.1" [(ngModel)]="produits[selected].qty"></td>
                        <td><button class="add" (click)="produits[selected].qty=produits[selected].qty+1" >+</button></td>
                    </tr>
                </table>
                <button class="btn-product" (click)="addProduct(selected)">VALIDER</button>
            </ion-col>
        </ion-row>
    </div>

    <ion-refresher slot="fixed"  (ionRefresh)="initItems($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Rafraichissement...">
        </ion-refresher-content>  
    </ion-refresher>
            
    <!-- <ion-fab vertical="top" horizontal="start" > -->
        <ion-fab-button  class="fab-show-list" (click)="showListCategory()" color="dark" vertical="top" horizontal="start" slot="fixed" >
          <ion-icon name="eye"></ion-icon>
        </ion-fab-button>
      <!-- </ion-fab> -->

    <ion-grid>
        <!-- <ion-card-title class="ion-text-center activite">{{cat_name}}</ion-card-title> -->
        <ion-row id="searchRow">
            <ion-col>
                <ion-searchbar placeholder="Filtrer les produit" class="hide-only-lg hide-only-xl hide-only-md"></ion-searchbar>
            </ion-col>
        </ion-row>

        <div class="parent-wrapper">
            <div class="parent">
                <div class="child" *ngFor="let cate of produits ; let i = index" (click)="openDetailProduct(i)" >
                    <label  [ngStyle]="{'background':cate.color}">{{cate.name}}</label>
                    <label class="price">QTE : {{cate.qty_stock}}</label>
                    <img [src]="removeText(cate.icon)">
                </div>
            </div>
        </div>

    </ion-grid>

    <div id="categoriesList-" >
        <div class="title-details" (click)="hideListCategory()">
              <ion-icon name="arrow-down" style="color:black"></ion-icon>
        </div>
        <div>
            <div col-md-2 class="catory-item-" *ngFor="let cate of categories ; let i = index" (click)="initItems(0,cate.id,cate.name)">
                <img src="http://belsis.cm/images/uploads/categorie/{{cate.image}}">
                <button (click)="filtrerParID(cate.id)">{{cate.nom}}</button>
            </div>
        </div>
    </div>
</ion-content>
