<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>BELSIS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
	
	<ion-grid>
		<ion-row>
			<ion-col id="newProduct" text-center>
				<b>NOUVELLE COMMANDE</b>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col id="horiszontalBar">
			</ion-col>
		</ion-row>
		<ion-row class="color-text">
			<!--<ion-col col-1>
				<img class="circular" [src]="produit.logo" alt="IMAGE" />
			</ion-col>-->
			<ion-col col-11>
				<ion-grid text-left>
					<!--<ion-row>
						<ion-button expand="full" color="secondary" >A jouter les produits</ion-button>
					</ion-row>-->
					<!--<ion-row>
						<ion-col col-1>Prix : </ion-col>
						<ion-col col-11> <input class="input-text-my" type="text" [(ngModel)]="produit.prix" /> </ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-1>Quantite : </ion-col>
						<ion-col col-11> <input class="input-text-my" type="text" [(ngModel)]="produit.quantite" /> </ion-col>
					</ion-row>-->
				</ion-grid>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<button class="addProductButton" (click)="Showmodal()">
					AJOUTER LE PRODUIT
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
	<div class="modal">
		<div class="header">
			<span>
				<ion-item>
					<ion-label>Categories</ion-label>
					<ion-select value="brown" okText="Valider" cancelText="Annuler" name="cat" [(ngModel)]="cat">
						<ion-select-option  *ngFor="let categorie of produitCategoris" value="{{categorie.id}}"  >{{categorie.name}}</ion-select-option>
					</ion-select>
				</ion-item>
			</span><span class="closer">X</span>
		</div>
		<div class="modal-boody">
			<table>
				<tr style="padding: 10px" *ngFor="let data of product">
					<td>{{data.name}}</td>
					<td><span class="digits prix_{{data.id}}">{{data.prix}}</span></td>
					<td><span class="reduise {{data.id}}_reduise mois" (click)="moins(data.id+'_mois')">-</span><span>
						<input class="qtitis qte_{{data.id}}" type="text" value="0"></span>
						<span class="add {{data.id}}_adder plus" (click)="plus(data.id+'_add')">+</span>
					</td>
					<td>
						<input type="checkbox" name="adder" value="{{data.id}}">
						<input class="{{data.id}}_stock" type="hidden" name="" value="{{data.quantite}}">
				    </td>
				</tr>
			</table>
		</div>
		<div class="option">
			<ion-grid class="option-ctn">
				<ion-row>
					<ion-col size-md="6" size-lg="6" size-xs="6" size-sm="6">
						<ion-button (click)="allProdcheck()" color="success"> <ion-icon ios="ios-cart" md="md-cart"></ion-icon> &nbsp;  <ion-icon ios="ios-add" md="md-add"></ion-icon></ion-button>
					</ion-col>
					<ion-col size-md="6" size-lg="6" size-xs="6" size-sm="6">
						<ion-button color="danger" (click)="hidemodal()">annuller</ion-button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</div>

</ion-content>
