<div class="ion-content">
	<ion-grid>
		<ion-row>
			<ion-col text-center>
				<h5>Liste des ingrédiants</h5>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col text-center>
				<!--<ion-searchbar [(ngModel)]="filter" placeholder="Filtrer les ingerdiants"></ion-searchbar>-->
				<ion-searchbar placeholder="Filtrer les ingerdiants"></ion-searchbar>
			</ion-col>
		</ion-row>
		<ion-row *ngFor="let ingrediant of ingrediants; let i=index">
			<ion-col size="7" text-center>
				<input type="checkbox" name="adder" value="{{ingrediant.id}}" style="float: left;margin-left: 10px;margin-top: 5px;">
				{{ingrediant.name}}
			</ion-col >
			<!--<ion-col size="5" text-center>
				<button class="circular" (click)="moins(i)" style="background-color:#EC0000;">-</button>
				<span  class = "nonDigits" >
					<input class="{{ingrediant.id}}_stock" type="hidden" name="" value="{{ingrediant.qte}}">
					<input type="text" value="0" style="width: 40px;" />
				</span>
				<button class="circular" (click)="plus(i)" style="background-color:#00B79A;">+</button>
			</ion-col>-->
			<ion-col size="5" align-self-center>
				<button class="circular {{ingrediant.id}}_reduise mois" (click)="moins(ingrediant.id+'_mois')" style="background-color:#EC0000;">-</button>
				<span  class = "nonDigits" >
					<input class="{{ingrediant.id}}_stock" type="hidden" name="" value="{{ingrediant.qte}}">
					<input class="{{ingrediant.id}}_name" type="hidden" name="" value="{{ingrediant.name}}">
					<input class="qte_{{ingrediant.id}}" type="text" value="0" style="width: 20px;" />
				</span>
				<button id="{{ingrediant.id}}_adder" class="circular add {{ingrediant.id}}_adder plus" (click)="plus(ingrediant.id+'_add')" style="background-color:#00B79A;">+</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col text-center>
				<ion-fab id="addButton" style="width: 100%;display: block;position: relative">
					<ion-fab-button (click)="pushIngrediant()">
						<ion-icon class="icon-size" name="checkmark"></ion-icon>
					</ion-fab-button>
				</ion-fab>
			</ion-col>
		</ion-row>
	</ion-grid>
</div>