<ion-header>
  <ion-toolbar>
    <ion-title>{{cat_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="hide-list-product" id="page-choice-product">
	
		<ion-row id="searchRow">
			<ion-col>
				<ion-searchbar placeholder="Filtrer les produit" class="hide-only-lg hide-only-xl hide-only-md"></ion-searchbar>
			</ion-col>
		</ion-row>
	<div class="modalShow">
		<ion-row class="head">
			<ion-col class="top-main-product">
				<!-- <button class="close-btn" (click)="closeDetailProductModal()">x</button> -->
				<img [src]="produits[selected].icon">
			</ion-col>
			<ion-col>
				<div>{{produits[selected].name}}</div>
				<div>Prix : <b>{{produits[selected].price}} CFA</b></div>
				<label>Quantite : {{produits[selected].quantite}}</label>
				<table>
					<tr>
						<td><button class="reduce" (click)="produits[selected].qty=produits[selected].qty-1">-</button></td>
						<td><input type="number" step="0.1" [(ngModel)]="produits[selected].qty"></td>
						<td><button class="add" (click)="produits[selected].qty=produits[selected].qty+1">+</button></td>
					</tr>
				</table>
				<button class="btn-product" (click)="addProduct(selected)">VALIDER</button>
			</ion-col>
		</ion-row>
	</div>
			<div style="display: flex;justify-content: center;margin: 13px;" class="loading"><img _ngcontent-fvw-c1="" src="assets/loader/extended_loading.gif" style="width: 60px;"></div>

	    <div class="parent-wrapper">
	        <div class="parent">
	            <div class="child" *ngFor="let cate of produits ; let i = index" (click)="openDetailProduct(i,cate.qty)">
					<label  [ngStyle]="{'background':cate.color}">{{cate.name}}</label>
					<label class="price">{{cate.price}} FCFA</label>
					<img [src]="cate.icon">
				</div>
	        </div>
	    </div>
	<div class="selectedd-products">
		<div class="title-details" (click)="hideListSelectedProduct()">
			  <ion-icon name="arrow-down"></ion-icon>
		</div>
		<div class="items">
			<div *ngFor="let cate of produits ; let i = index"  [className]="cate.qty <=0 ? 'hide' : 'show'"  (click)="openDetailProduct(i,cate.qty)">
				<span class="number">{{cate.qty }}</span>
				<img [src]="cate.icon">
			</div>
		</div>
	</div>
	<ion-fab (click)="showListSelectedProduct()" class="fab-show-list" vertical="bottom" horizontal="start" slot="fixed">
	    <ion-fab-button color="light" >
	      <ion-icon name="eye"></ion-icon>
	    </ion-fab-button>
	  </ion-fab>
	<ion-fab (click)="choiceProduct(0)" vertical="bottom" horizontal="end" slot="fixed">
	    <ion-fab-button color="dark" >
	      <ion-icon name="arrow-dropleft"></ion-icon>
	    </ion-fab-button>
	  </ion-fab>
</ion-content>
