<ion-header>
  <ion-toolbar>
    <ion-title>Choisir un Produit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [className]="showProduct?'show-':'hide-'">
	<div class="modalShow">
		<ion-row class="head">
			<ion-col class="top-main-product">
				<button class="close-btn" (click)="closeDetailProductModal()">x</button>
				<img [src]="produits[selected].icon">
			</ion-col>
			<ion-col>
				<div>{{produits[selected].name}}</div>
				<div>Prix : <b>{{produits[selected].price}} CFA</b></div>
				<label>Quantite : {{produits[selected].quantite}}</label>
				<table>
					<tr>
						<td><button class="reduce" (click)="produits[selected].qty=produits[selected].qty-1">-</button></td>
						<td><input type="number" step="0.1" [(ngModel)]="produits[selected].qty"></td>
						<td><button class="add" (click)="produits[selected].qty=produits[selected].qty+1">+</button></td>
					</tr>
				</table>
				<button class="btn-product" (click)="addProduct(selected)">Ajouter</button>
			</ion-col>
		</ion-row>
	</div>
	    <div class="parent-wrapper">
	        <div class="parent">
	            <div class="child" *ngFor="let cate of produits ; let i = index" (click)="openDetailProduct(i,cate.qty)">
					<label  [ngStyle]="{'background':cate.color}">{{cate.name}}</label>
					<label class="price">{{cate.price}} FCFA</label>
					<img [src]="cate.icon">
				</div>
	        </div>
	    </div>
	<ion-row>
		<ion-col id="horiszontalBar">
		</ion-col>
	</ion-row>
	<ion-fab (click)="choiceProduct(0)" vertical="bottom" horizontal="end" slot="fixed">
	    <ion-fab-button color="dark" >
	      <ion-icon name="arrow-dropleft"></ion-icon>
	    </ion-fab-button>
	  </ion-fab>
</ion-content>
