<div class="ion-content">
  <ion-grid>
    <ion-row id="searchRow">
      <ion-col>
        <ion-searchbar></ion-searchbar>
        <!--<div style="text-align:center;">
          <span>
          <input type="text" placeholder="Recherche..." />
          <!--<ion-input class="searchInput" placeholder="Recherche..." type="text" ></ion-input>--
          <button (click)="search()">
              <ion-icon name="search"></ion-icon>
          </button>
          </span>
        </div>-->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="horiszontalBar">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col size="2" text-center>
              Date
            </ion-col>
            <ion-col size="6" text-center>
              Description
            </ion-col>
            <ion-col size="2" text-center>
              Montant
            </ion-col>
            <ion-col size="2">
              
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let entree of entrees; let i of index" class="list-row-item">
            <ion-col size="2" text-center>
              {{entree.date}}
            </ion-col>
            <ion-col size="6" text-center>
              {{entree.description}}
            </ion-col>
            <ion-col size="2" text-center>
              {{entree.montant}}
            </ion-col>
            <ion-col text-center size="2">
              <ion-icon class="digits" name="trash"></ion-icon>
              <ion-icon name="create"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
