<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>BELSIS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
	
	<ion-grid>
		<ion-row>
			<ion-col id="newProduct" text-center>
				<b>NOUVEAU PRODUIT</b>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col id="horiszontalBar">
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-2>
				<img class="circular" src="../../../assets/prod_2.jpg" alt="IMAGE" />
			</ion-col>
			<ion-col col-10>
				<ion-grid class="color-text" text-left>
					<ion-row>
						<ion-col col-1>Nom : </ion-col>
						<ion-col col-11> <input class="input-text-my" type="text" [(ngModel)]="produits.name" /> </ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-1>Prix : </ion-col>
						<ion-col col-11> <input class="input-text-my" type="text" [(ngModel)]="produits.prix" /> </ion-col>
					</ion-row>
					<ion-row>
						<ion-col col-1>Quantite : </ion-col>
						<ion-col col-11> <input class="input-text-my" type="text" [(ngModel)]="produits.quantite" /> </ion-col>
					</ion-row>
					<ion-row>

						<ion-col col-11>
							<!--<ion-label>Categories</ion-label>-->
							<!--<ion-select value="brown" okText="Okay" cancelText="Dismiss">
								<ion-select-option value="">Categories</ion-select-option>
								<ion-select-option *ngFor="let table of categories" value="">Cat</ion-select-option>
							</ion-select>-->
							<ion-item>
								<ion-label>Categories</ion-label>
								<ion-select value="brown" okText="Valider" cancelText="Annuler" name="cat" [(ngModel)]="cat">
									<ion-select-option *ngFor="let categorie of produitCategoris" value="{{categorie.id}}">{{categorie.name}}</ion-select-option>
								</ion-select>
							</ion-item>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<button (click)="valider()" class="addProductButton">
					AJOUTER LE PRODUIT
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
