button.add {
	padding: 10px;
    background: #ffffff;
    color: #142767;
    border: 2px solid #142767;
    border-radius: 15px;
}

.badge {
	font-size: .8rem;
	padding: 5px;
}

.badge--left {
	color: #f1c40f;
	/* border: solid 1px #f1c40f ; */
}

.badge--right {
	color: #27ae60;
	/* border: solid 1px #27ae60 ; */
}

.title-name{
	font-size: 10px
}

ion-col {
    text-align: center;
    border: 0.1px solid #00000038;
    background: #f7f7f7;
}

ion-row{
	margin-top: 10px;
}

img.avatar{
	border-radius: 100%;
    width: 65px;
    height: 65px;
}
table ion-icon{
	font-size: 8px;
}