<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon id="menu" ion-button ion-btn color="light" name="menu" (click)="openModalMenu()"></ion-icon>
    </ion-buttons>
    <ion-title>
      PERSONNEL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-searchbar placeholder="Filtrer le personnel"></ion-searchbar>

	<ion-row style="justify-content: center;">
        <button class="add" (click)="openAddPersonnelModal()">AJOUTER UN PERSONNEL</button>
    </ion-row>

	<!-- List of Text Items -->
	<ion-list>
	  <ion-item *ngFor="let user of users" (click)="showUserDetail(user.id)">
		    <ion-avatar slot="start">
	   			 <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
	  		</ion-avatar>
	  		<ion-label>
	            <h3>{{ user.prenom  | uppercase }}, {{ user.nom | uppercase }}</h3>
	            <p>{{ user.role  }}</p>
	            <ion-text class="badge ion-text-start badge--left">{{ user.totalCommande }} commandes</ion-text> <ion-text class="badge ion-float-end badge--right">Ventes {{ user.totalPrice }} FCFA</ion-text>
          </ion-label>
	  </ion-item>
	</ion-list>

</ion-content>
