button.add {
    padding: 10px;
    background: #1b3079;
    color: white;
}

.badge {
	font-size: .8rem;
	padding: 5px;
}

.badge--left {
	color: #f1c40f;
	/* border: solid 1px #f1c40f ; */
}

.badge--right {
	color: #27ae60;
	/* border: solid 1px #27ae60 ; */
}