<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon id="menu" ion-button ion-btn color="light" name="menu" (click)="openModalMenu()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Belsis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-grid class="header-bg">
          <div>
            <ion-label color="light ion-text-center block label-title">Ventes de la journee</ion-label>
            <ion-label color="light ion-text-center price-label block">{{workMoney}} CFA</ion-label>
            <div class="flex-center-row">
              <ion-label color="light ion-text-center date-label block">{{time}}</ion-label>
            </div>
          </div>
      </ion-grid>

      <ion-card-title class="ion-text-center activite">Evolution</ion-card-title> 
      <ion-grid>                  
        <canvas #barChart></canvas>
      </ion-grid>
      <ion-grid>
        <ion-card-title class="ion-text-center activite">Activite</ion-card-title>
        <ion-row>
          <ion-col  *ngFor="let commande of etatCommendes" class="rectangle" >
             <ion-label color="light ion-text-center">{{commande.value}}</ion-label>
            <div>
               
              {{commande.label}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
