<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Comptabilite</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button tab="list-entrees">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>ENTREES</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="list-sorties">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>SORTIES</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="stats">
        <ion-icon name="chart"></ion-icon>
        <ion-label>STATISTIQUES</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-content>
