<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title >INFORMATIONS </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
	<ion-grid>
		<ion-row>
			<ion-col class="ion-text-center"><ion-text><h5>{{ restaurant.nom }}</h5></ion-text></ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div class="ion-text-center">
					<img class="profile-image" src="/assets/profile.svg">
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="ion-text-center">
				<h6>{{ user.prenom }}, {{ user.nom }}</h6>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="ion-text-center">
				<h6>{{ user.role }}</h6>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="ion-text-center">
				<ion-button class="save">Save</ion-button>
			</ion-col>
			<ion-col class="ion-text-center">
				<ion-button class="edit">Edit</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>

	<!-- Reset Password Form -->
	<form #resetPasswordForm="ngForm">
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-label position="stacked">Ancien mot de passe</ion-label>
						<ion-input></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-label position="stacked">Nouveau mot de passe</ion-label>
						<ion-input></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col class="ion-text-center">
					<ion-button type="submit">Reset</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>


  <!--form #formCtrl="ngForm">

	  <ion-list *ngIf="profil.roleName == 'serveur' ">
		  <ion-item>
			 <ion-label floating>Ancien mot de passe </ion-label>
			 <ion-input type="password"  name="password" required></ion-input>
		  </ion-item>
		  <ion-item>
			  <ion-label floating>Nouveau mot de passe </ion-label>
			  <ion-input type="password"  name="repassword" required></ion-input>
		  </ion-item>
	      <ion-item>
	      </ion-item>
	  </ion-list>
	  <ion-list *ngIf="profil.roleName == 'gerant'">
		  <ion-item>
			  <ion-label floating>Ancien mot de passe </ion-label>
			  <ion-input type="password"  name="password" required></ion-input>
		  </ion-item>
		  <ion-item>
			  <ion-label floating>Nouveau mot de passe </ion-label>
			  <ion-input type="password"  name="repassword" required></ion-input>
		  </ion-item>
		  <ion-item>
		  </ion-item>
	  </ion-list>
	 <button color="secondary" [disabled]="!formCtrl.form.valid" ion-button block (click)="save()">Save</button>
	  <ion-button color="danger" ion-button block (click)="reset()">Reset</ion-button>


	</form-->



</ion-content>
