<!--
  Generated template for the ProfilePage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title >INFORMATIONS </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  
  
  <form #formCtrl="ngForm">
	     <div align="center" *ngIf="formCtrl.form.valid">
	        <img class="profile-image" src="/assets/profile.svg">
			 <h4>{{profil.name}}, {{profil.roleName}}</h4>
			 <h4>Restaurant : {{profil.restoName}}</h4>
	      </div>
	  <ion-list *ngIf="profil.roleName == 'serveur' ">
		  <ion-item>
			 <ion-label floating>Ancien mot de passe </ion-label>
			 <ion-input type="password"  name="password" required></ion-input>
		  </ion-item>
		  <ion-item>
			  <ion-label floating>Nouveau mot de passe </ion-label>
			  <ion-input type="password"  name="repassword" required></ion-input>
		  </ion-item>
	      <ion-item>
	      </ion-item>
	  </ion-list>
	  <ion-list *ngIf="profil.roleName == 'gerant'">
		  <ion-item>
			  <ion-label floating>Ancien mot de passe </ion-label>
			  <ion-input type="password"  name="password" required></ion-input>
		  </ion-item>
		  <ion-item>
			  <ion-label floating>Nouveau mot de passe </ion-label>
			  <ion-input type="password"  name="repassword" required></ion-input>
		  </ion-item>
		  <ion-item>
		  </ion-item>
	  </ion-list>
	 <!-- <button color="secondary" [disabled]="!formCtrl.form.valid" ion-button block (click)="save()">Save</button>-->
	  <ion-button color="danger" ion-button block (click)="reset()">Reset</ion-button>
	</form>
</ion-content>