/* Variables */
$placeholder-color: #888;

/* Ionic Components */
ion-content {
  ion-input : {
    --placeholder-color: $placeholder-color !important;
  }
}

ion-header{
	ion-toolbar{
	    --background : #142768!important; 
	    ion-title{
	    	text-align: center;
	    	color: white;
	    }
	    ion-button{
	    	color: white;
	    	ion-menu-button{
	    		color: white;
	    	}
	    }
	}
}

page-profile {
    .profile-image{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}

.edit {
	--background: gray;
}

.save {
	--background: #3dc85e;
}
