<div class="ion-content">
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-grid>
					<ion-card-title>Les Rapports</ion-card-title>
					<ion-row>
						<ion-col>
						<div> 
						<canvas #barChart></canvas>
						<ion-card-subtitle class="ion-text-center">Flux Financier</ion-card-subtitle>
						</div>
						</ion-col>
						<ion-col>
						<div> 
							<canvas #barChartSecond></canvas>
							<ion-card-subtitle class="ion-text-center">Stocks</ion-card-subtitle>
						</div>
						</ion-col>
						</ion-row>
							<ion-card-title class="ion-text-center">Les Commandes</ion-card-title>
						<ion-row>
						<ion-col>
							<div> 
								<canvas #barChartBar></canvas>
								<ion-card-subtitle class="ion-text-center">Meilleurs ventes</ion-card-subtitle>
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-col>
		</ion-row>
	</ion-grid>
</div>