<ion-app>
  <ion-split-pane>
    <ion-menu side="start" type="overlay">
      <ion-header>
        <ion-toolbar>
          <img (click)="options()" src="/assets/profile.svg" alt="" />
          <ion-title>{{user.name}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="ion-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <div class="ion-item" [routerDirection]="'root'" [routerLink]="[p.url]">
              <img [src]="p.icon" alt="" />
                <ion-label>
                  {{p.title}}
                </ion-label>
            </div>
          </ion-menu-toggle>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
