<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Les commandes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
	
	<ion-grid>
		<ion-row id="searchRow">
			<ion-col>
				<div style="text-align:center;">
					<span>
					<input type="text" placeholder="Recherche..." />
					<!--<ion-input class="searchInput" placeholder="Recherche..." type="text" ></ion-input>-->
					<button (click)="random()">
  						<ion-icon name="search"></ion-icon>
					</button>
					</span>
				</div>
			</ion-col>
		</ion-row>
		<!--<ion-row id="categoriesList" *ngFor="let page of commandePages ; let i = index">
			<ion-col col-2 *ngFor="let item of page; let j = index">
				<button
					*ngIf="!item.statusFilter"
					(click)="addOrRemoveCategorieToFilter(i, j)" >{{item.name}}</button>
				<button
					*ngIf="item.statusFilter"
					(click)="addOrRemoveCategorieToFilter(i, j)"
					style="background-color: #142768; color:white;"
					>{{item.name}}</button>
			</ion-col>
		</ion-row>-->
		<ion-row id="categoriesList" >
			<ion-col col-2 class="cat-filter" *ngFor="let cate of produitCategoris ; let i = index">
				<!--<button (click)="addOrRemoveCategorieToFilter(i, j)" >{{cate.name}}</button>-->
				<button (click)="filtrerParID(cate.id)" >{{cate.name}}</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col id="horiszontalBar">
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col id="shwitchIcons" text-right>
				<button class="on" *ngIf="showList"  (click)="setToCard()"><ion-icon name="grid"></ion-icon></button>
				<button class="off" *ngIf="!showList"  (click)="setToCard()"><ion-icon name="grid"></ion-icon></button>
				<button class="on" *ngIf="!showList" (click)="setToList()"><ion-icon name="reorder"></ion-icon></button>
				<button click="off" *ngIf="showList" (click)="setToList()"><ion-icon name="reorder"></ion-icon></button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<p id="contentList">
					<ion-grid *ngIf="showList">
						<ion-row text-center>
							<ion-col col-1>
							</ion-col>
							<ion-col col-3>
								Nom
							</ion-col>
							<ion-col col-1>
								Prix
							</ion-col>
							<ion-col col-1>
								Stock
							</ion-col>
							<ion-col col-3>
								Quantite
							</ion-col>
							<ion-col col-1>
								Table
							</ion-col>
							<ion-col col-2>
							</ion-col>
						</ion-row>
						<div class="query_status">

						</div>
						<ion-row text-center *ngFor="let produit of products; let i = index" class="list-row-item">

							<ion-col align-self-center col-1>
								<img src="{{produit.url}}" />
							</ion-col>
							<ion-col align-self-center col-3>
								{{produit.name}}
							</ion-col>
							<ion-col align-self-center col-2>
								<span class="digits">{{produit.prix}}</span> €
							</ion-col>
							<ion-col align-self-center col-1>
								<span class="digits qtity_{{produit.id}}">{{produit.quantite}}</span>
								<input class="{{produit.id}}_stock" type="hidden" name="" value="{{produit.quantite}}">
							</ion-col>
							<ion-col align-self-center col-3>
								<button class="circular {{produit.id}}_reduise mois" (click)="moins(produit.id+'_mois')" style="background-color:#EC0000;">-</button>
								<span  class = "nonDigits" >
									<input class="qte_{{produit.id}}" type="text" value="0" style="width: 40px;" />
								</span>
								<button id="{{produit.id}}_adder" class="circular add {{produit.id}}_adder plus" (click)="plus(produit.id+'_add')" style="background-color:#00B79A;">+</button>
							</ion-col>
							<ion-col align-self-center col-1>
								<ion-select value="brown" okText="Okay" cancelText="Dismiss" [(ngModel)]="tableId">
							      <ion-select-option value="">Aucune</ion-select-option>
							      <ion-select-option *ngFor="let table of tables" value="{{ table.id }}">{{ table.label }}</ion-select-option>
							    </ion-select>
							</ion-col>
							<ion-col align-self-center col-2>
								<button class="nonCirculaire" (click)="ajouter(produit, produit.quantite,  tableId,produit.quantite,produit.id)">AJOUTER</button>
							</ion-col>
						</ion-row>
					</ion-grid>
					<ion-grid *ngIf="!showList">
						<ion-row *ngFor="let page of produitsPages; let li = index ">
							<ion-col col-4 *ngFor="let produit of page; let co = index ">
								<ion-card>
						        	<img class="cardImg" src="{{produit.url}}" />
						        	<ion-card-header>
						          		<ion-card-title text-center></ion-card-title>
						        	</ion-card-header>
						        	<ion-card-content>

						          		<ion-grid>
						          			<ion-row>
						          				<ion-col>
						          					<span class="produit-title">{{produit.nom}}</span>
						          				</ion-col>
						          			</ion-row>
						          			<ion-row>
						          				<ion-col>
									          		<p text-center>
									          			<ion-chip>
														  	<ion-label>Categorie</ion-label>
														</ion-chip>
									          			<ion-chip>
														  	<ion-label>Categorie</ion-label>
														</ion-chip>
									          			<ion-chip>
														  	<ion-label>Categorie</ion-label>
														</ion-chip>
									        		</p>
						          				</ion-col>
						          			</ion-row>
						          			<ion-row>
						          				<ion-col text-center>
													<button class="circular" (click)="moins(li*3+co)" style="background-color:#EC0000;">-</button>
													<span  class = "nonDigits" >
														<input type="text" [(value)]="produit.quantite" style="width: 40px;" />
													</span>
													<button class="circular" (click)="plus(li*3+co)" style="background-color:#00B79A;">+</button>
						          				</ion-col>
						          			</ion-row>
						          			<ion-row>
						          				<ion-col>
						          					<button class="nonCirculaire" (click)="ajouter(produit)">AJOUTER</button>
						          				</ion-col>
						          			</ion-row>
						          		</ion-grid>
						        	</ion-card-content>
						      	</ion-card>
							</ion-col>
						</ion-row>
					</ion-grid>
				</p>
			</ion-col>
		</ion-row>
		<ion-row text-right>
			<ion-col >
				<button class="addButton" (click)="ajoutGlobal()">
					+
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
