	#menu{
		ion-icon{
			color: white;
		}
	}
	
	.panier{
		min-width: 70px;
		min-height: 70px;
		position: fixed;
		bottom: 8px;
		ion-badge {
			position: relative;
			top: -55px;
			right: -65px;
		};
		ion-icon {
			font-size: 50pt;
			color: #D76800
		}
	}

	ion-icon{
	    font-size: 30px;
	}
	.welcome-card img {
	  max-height: 35vh;
	  overflow: hidden;
	}
	ion-card-title{
		text-align:center;
	}
	ion-header{
		ion-toolbar{
		    --background : #142768!important; 
		    ion-title{
		    	text-align: center;
		    	color: white;
		    }
		    ion-button{
		    	color: white;
		    	ion-menu-button{
		    		color: white;
		    	}
		    }
		}
	}
	ion-content{
		margin:10px;
		div.ion-content{
			//--background-image:url("/assets/bg-belsis.svg");
			background-image: url(/assets/bg-belsis.svg);
		    height: 100%;
		    width: 100%;
		    background-size: 500px 500px;
		}
		
	}
	ion-card{
		border-radius: 5px;
		background:rgba(247,247,247,1);
		overflow: visible;
		ion-card-content{
			padding: 0;
			.img-content{
				display: flex;
	    		justify-content: center;
	    		flex-direction: column;
			    margin: 20px;
			    text-align: center;
			    img{
			    	width: 100px;
			    	height: 100px;
				}
			}
			ion-card-subtitle{
				font-size: x-large;
				transform: uppercase;
			}
			ion-card-title{
				font-size: 50px;
			}
			.foot{
				padding: 5px;
				div{
				    display: flex;
				    flex-direction: row;
				}
				img{
					width: 25px;
				    height: 20px;
				    background: rgb(200,200,200);
				    border-radius: 100%;
				    padding: 4px;
				    margin-left: 5px;	
				}
				button{
					font-weight: 800;
				    border-radius: 100%;
				    background: #c8c8c8;
				    color: white;
				    width: 40px;
				    height: 40px;
				    font-size: x-large;
				    position: absolute;
				    right: 10px;
				    bottom: 10px;
				    line-height: 15px;
				}
			}
		}
		ion-card-header{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			ion-label.round{
				width: 10px !important;
			    height: 10px !important;
			    position: absolute;
			    border-radius: 100%;
			    margin-top: 4px;
			}
			img{
				width: 20px;
			    height: 20px;
			    padding: 4px;
			    border-radius: 100%;
			    background: white;
			    margin-top: 0px;
			    margin-left: 4px;
			    box-shadow: 0px 1px 1px #0000003b;
			}
			.left-part{
			    display: flex;
    			flex-direction: row;
			}
			ion-label.title{
				margin-left: 15px;
				span {
    				font-size: x-small;
    			}
			}
			ion-card-subtitle {
				position: absolute;
			    color: white;
			    right: -25px;
			    top: -25px;
			    /*background: green;*/
			    width: 100%;
			    height: 100%;
			    border-radius: 100%;
			    text-align: center;
			    line-height: 50px;
			    font-size: x-large;
			}
		}
	}

	ion-input {
		border:10px;
	}

	#searchRow {
		text-align: center;
		/*padding: 20px;*/
		input{
			border-style: solid;
			border-radius: 0px;
			border-width: 2px;
			border-color: #c8c8c8;
			height: 40px;
			width: 80%;
			margin: 2px;
		}
		button{
			font-weight: 800;
		    border-radius: 100%;
		    background: #142768;
		    color: white;
		    width: 80px;
		    height: 80px;
		    //font-size: x-large;
		    position: relative;
		    left:-10px;
		    //right: 10px;
		    //bottom: 10px;
		    //line-height: 15px;
		}
	}

	#categoriesList {
		ion-col{
			border-width: 2px;
			border-color: #142768;
			button{
				width: 95%;
				border-raduis: 0px;
				min-height: 35px;
				border-style: solid;
				border-color: #142768;
				border-width: 2px;
				background-color: white;
			}
		}
	}

	#shwitchIcons {
		button {
			margin: 10px;
			min-height:30px;
			border-radius: 10%;
		}
		.on{
			color: #142768;
			background-color: white;
			border-style: solid;
			border-color: #142768;
			border-width: 2px;
		}
	}

	ion-grid {
		/*padding: 20px;*/
	}

	#horiszontalBar {
		padding: 10px;
		border-style: solid;
		border-top:2px;
		border-left: 2px;
		border-right: 2px;
		border-color: #c8c8c8;
	}

	.list-row-item {
		background-color:#F4F4F4;
		margin:5px;
		ion-col {
			vertical-align: middle;
			padding: 10px;
			img{
			}

		}
	}

	ion-card {
		margin-top: 10px;
		margin-bottom:10px;
	}

	.cardImg{
		height: 100px;
	}

	.digits {
		color: #FF418A;
	}

	.produit-title{
		font-size:15px;
		font-style: bold;
	}
	.nonCirculaire{
		background-color:#142768;
		color: white;
		padding: 10px;
	}

	.nonDigits{
		border: solid;
		border: 1px;
		padding: 10px;
		input{
			text-align: center;
		}
	}

	.circular {
		border-radius: 100%;
		height: 25px;
		width: 25px;
		color: white;
	}

	#shwitchIcons {
		button{
			height: 50px;
			background-color: #142768;
			color: white;
		}
	}

	#addButton {
		position:fixed;
    	bottom: 10px;
    	right: 10px;
	}

	#contentList{
		/*height: 80%;
		overflow:scroll;*/
	}

ion-fab-button {
  --background: #142768;
}


@media (min-width : 200px) and (max-width : 500px) {
	ion-card-header.ios.hydrated {
	    padding: 4px;
	    padding-top: 5px;
	}
		ion-card-title {
			font-size: 3vw;
		    text-align: center;
		    max-height: 3ch;
		    height: 3ch;
		}
		    ion-chip.ion-activatable.hydrated , button.circular{
			    display: none;
			}
	ion-col.hydrated {
	    width: 32%;
		ion-card.hydrated {
		    margin: 0;
		}
	}
	#horiszontalBar{
    padding: 0;
     }
	.nonDigits {
	    border: none;
	    width: 100%;
	    padding: 0;
	    margin: 0;
	}
}