	#menu{
		ion-icon{
			color: white;
		}
	}
	
	.panier{
		min-width: 70px;
		min-height: 70px;
		position: fixed!important;
		bottom: 8px;
		position: relative;
		overflow: hidden;
		left: 4%;
	}
	.shoper{
		position: relative;
		overflow: hidden;
	}

	ion-icon{
	    font-size: 30px;
	}
	.welcome-card img {
	  max-height: 35vh;
	  overflow: hidden;
	}
	ion-card-title{
		text-align:center;
	}
	ion-header{
		ion-toolbar{
		    --background : #142768!important; 
		    ion-title{
		    	text-align: center;
		    	color: white;
		    }
		    ion-button{
		    	color: white;
		    	ion-menu-button{
		    		color: white;
		    	}
		    }
		}
	}
	#categoriesList-{
		ion-col img {
		    width: 50px;
		}
		ion-col:hover img{
			transform: scale(1.3);
			transition: .75s easear;
		}
		ion-col{
			    max-width: 75px;
			    button{
			    	width: 100%;
					    color: white;
					    padding-top: 4px;
					    padding-bottom: 4px;
					font-size: 10px;
			    }
		}
	}
	ion-content{
		margin:10px;
		div.ion-content{
			//--background-image:url("/assets/bg-belsis.svg");
			background-image: url(/assets/bg-belsis.svg);
		    height: 100%;
		    width: 100%;
		    background-size: 500px 500px;
		}
		
	}
	ion-input {
		border:10px;
	}

	#searchRow {
		text-align: center;
		/*padding: 20px;*/
		input{
			border-style: solid;
			border-radius: 0px;
			border-width: 2px;
			border-color: #c8c8c8;
			height: 40px;
			width: 80%;
			margin: 2px;
		}
		button{
			font-weight: 800;
		    border-radius: 100%;
		    background: #142768;
		    color: white;
		    width: 80px;
		    height: 80px;
		    //font-size: x-large;
		    position: relative;
		    left:-10px;
		    //right: 10px;
		    //bottom: 10px;
		    //line-height: 15px;
		}
	}

	#categoriesList {
		ion-col{
			border-width: 2px;
			border-color: #142768;
			position: relative;
			button{
				width: 100%;
			    background-color: #14276814;
			    padding: 5px;
			    color: white;
			}
		}
	}
	#categoriesList> div{
		float: left;
		max-width: 100px;
	}
	#shwitchIcons {
		button {
			margin: 10px;
			min-height:30px;
			border-radius: 10%;
		}
		.on{
			color: #142768;
			background-color: white;
			border-style: solid;
			border-color: #142768;
			border-width: 2px;
		}
	}

	ion-grid {
		/*padding: 20px;*/
	}

	#horiszontalBar {
		padding: 10px;
		border-style: solid;
		border-top:2px;
		border-left: 2px;
		border-right: 2px;
		border-color: #c8c8c8;
	}

	.list-row-item {
		background-color:#F4F4F4;
		margin:5px;
		ion-col {
			vertical-align: middle;
			padding: 10px;
			img{
			}

		}
	}

	ion-card {
		margin-top: 10px;
		margin-bottom:10px;
	}

	.cardImg{
		height: 100px;
	}

	.digits {
		color: #FF418A;
	}

	.produit-title{
		font-size:15px;
		font-style: bold;
	}
	.nonCirculaire{
		background-color:#142768;
		color: white;
		padding: 10px;
	}

	.nonDigits{
		border: solid;
		border: 1px;
		padding: 10px;
		input{
			text-align: center;
		}
	}

	.circular {
		border-radius: 100%;
		height: 25px;
		width: 25px;
		color: white;
	}

	#shwitchIcons {
		button{
			height: 50px;
			background-color: #142768;
			color: white;
		}
	}

	#addButton {
		position:fixed;
    	bottom: 10px;
    	right: 10px;
	}

	#contentList{
		/*height: 80%;
		overflow:scroll;*/
	}

	.query_status{
		max-width: 50px;
		margin: 0 auto;
		position: absolute;
		top: 20%;
		z-index: 99999;
		left: 0;
		right: 0;
	}
	.query_status>img{
		width: 100%;
	}

ion-fab-button {
  --background: #142768;
}


@media (min-width : 200px) and (max-width : 500px) {
	ion-card-header.ios.hydrated {
	    padding: 4px;
	    padding-top: 5px;
	}
		ion-card-title {
			font-size: 3vw;
		    text-align: center;
		    max-height: 3ch;
		    height: 3ch;
		}
		    ion-chip.ion-activatable.hydrated , button.circular{
			    display: none;
			}
	ion-col.hydrated {
	    width: 32%;
		ion-card.hydrated {
		    margin: 0;
		}
	}
	#horiszontalBar{
    padding: 0;
     }
	.nonDigits {
	    border: none;
	    width: 100%;
	    padding: 0;
	    margin: 0;
	}
}

