<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Nouvelle commande</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
	
	<ion-grid>
		<ion-row id="searchRow">
			<ion-col>
				<ion-searchbar placeholder="Filtrer les produit" class="hide-only-lg hide-only-xl hide-only-md"></ion-searchbar>
				<div style="text-align:center;" class="hide-only-sm hide-only-xs">
					<span>
					<input type="text" placeholder="Recherche..." />
					<!--<ion-input class="searchInput" placeholder="Recherche..." type="text" ></ion-input>-->
					<button (click)="random()">
  						<ion-icon name="search"></ion-icon>
					</button>
					</span>
				</div>
			</ion-col>
		</ion-row>
		<ion-row id="categoriesList" *ngFor="let page of commandePages; let i = index" class="hide-only-xs hide-only-sm">
			<ion-col col-2 *ngFor="let item of page; let j = index">
				<button
					*ngIf="!item.statusFilter"
					(click)="addOrRemoveCategorieToFilter(i, j)" >{{item.name}}</button>
				<button 
					*ngIf="item.statusFilter"
					(click)="addOrRemoveCategorieToFilter(i, j)"
					style="background-color: #142768; color:white;"
					>{{item.name}}</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col id="horiszontalBar">
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-item text-center>
					<ion-label>Choisir une table</ion-label>
					<ion-select okText="Ok" cancelText="Annuler" [(ngModel)]="tableId">
				    	<ion-select-option value="">Aucune</ion-select-option>
				    	<ion-select-option *ngFor="let table of tables" value="{{ table.id }}">{{ table.label }}</ion-select-option>
				    </ion-select>
				</ion-item>
			</ion-col>
			<ion-col id="shwitchIcons" text-right class="hide-only-xs hide-only-sm">
				<button class="on" *ngIf="showList"  (click)="setToCard()"><ion-icon name="grid"></ion-icon></button>
				<button class="off" *ngIf="!showList"  (click)="setToCard()"><ion-icon name="grid"></ion-icon></button>
				<button class="on" *ngIf="!showList" (click)="setToList()"><ion-icon name="reorder"></ion-icon></button>
				<button click="off" *ngIf="showList" (click)="setToList()"><ion-icon name="reorder"></ion-icon></button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<p id="contentList">
					<ion-grid *ngIf="showList" class="hide-only-xs hide-only-sm">
						<ion-row text-center>
							<ion-col col-1>
							</ion-col>
							<ion-col col-3>
								Nom
							</ion-col>
							<ion-col col-1>
								Prix
							</ion-col>
							<ion-col col-1>
								Stock
							</ion-col>
							<ion-col col-3>
								Quantité
							</ion-col>
							<ion-col col-2>
								
							</ion-col>
							<!--
								<ion-col col-2>
								</ion-col>
							-->
						</ion-row>
						<ion-row text-center *ngFor="let produit of produits; let i = index" class="list-row-item">
							<ion-col align-self-center col-1>
								<img src="{{produit.url}}" />
							</ion-col>
							<ion-col align-self-center col-3>
								{{produit.nom}}
							</ion-col>
							<ion-col align-self-center col-2>
								<span class="digits">{{produit.prix}}</span> €
							</ion-col>
							<ion-col align-self-center col-1>
								<span class="digits">{{produit.stock}}</span>
							</ion-col>
							<ion-col align-self-center col-3>
								<button class="circular" (click)="moins(i)" style="background-color:#EC0000;">-</button>
								<span  class = "nonDigits" >
									<input type="text" [(value)]="produit.quantite" style="width: 40px;" />
								</span>
								<button class="circular" (click)="plus(i)" style="background-color:#00B79A;">+</button>
							</ion-col>
							<!--
							<ion-col align-self-center col-1>
								<ion-select value="brown" okText="Okay" cancelText="Dismiss" [(ngModel)]="tableId">
							      <ion-select-option value="">Aucune</ion-select-option>
							      <ion-select-option *ngFor="let table of tables" value="{{ table.id }}">{{ table.label }}</ion-select-option>
							    </ion-select>
							</ion-col>
							-->
							<ion-col align-self-center col-2>
								<button class="nonCirculaire" (click)="ajouter(produit, produit.quantite,  tableId)">AJOUTER</button>
							</ion-col>
						</ion-row>
					</ion-grid>
					<ion-grid *ngIf="!showList">
						<ion-row>
							<ion-col *ngFor="let produit of produits; let i = index " size-md="4" size-lg="4" size-xl="4" size-xm="12" size-sm="12">
								<ion-card>
						        	<img class="cardImg" src="{{produit.url}}" />
						        	<ion-card-header>
						          		<ion-card-title text-center>{{produit.nom}}</ion-card-title>
						        	</ion-card-header>
						        	<ion-card-content text-cente>
						        		<div>
						          			<ion-chip *ngFor="let categorie of produit.categories" text-center>
											  	<ion-label>{{categorie}}</ion-label>
											</ion-chip>
						        		</div>
						        		<ion-item text-center>
											<ion-label>
												<button class="circular" (click)="moins(i)" style="background-color:#EC0000;">-</button>
												<span  class = "nonDigits" >
												<input type="text" [(value)]="produit.quantite" style="width: 40px;" />
												</span>
												<button class="circular" (click)="plus(i)" style="background-color:#00B79A;">+</button>
											</ion-label>
						        		</ion-item>
						        		<ion-item>
						        			<ion-label text-center>
						        				<button class="nonCirculaire" (click)="ajouter(produit, produit.quantite,  tableId)">AJOUTER</button>
						        			</ion-label>
						        		</ion-item>
						        	</ion-card-content>
						      	</ion-card>
							</ion-col>
						</ion-row>
					</ion-grid>
				</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col text-left>
				<ion-label class="panier">
					<ion-badge (click)="detailsPanier()" slot="start">{{nombrePanier()}}</ion-badge>
					<ion-icon name="basket">
					</ion-icon>
				</ion-label>
			</ion-col>
			<ion-col text-right>
				<ion-fab id="addButton">
					<ion-fab-button (click)="ajoutGlobal()">
						<ion-icon class="icon-size" name="checkmark"></ion-icon>
					</ion-fab-button>
				</ion-fab>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
