<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

 <ion-content fullscreen padding scroll-y="false">
      <ion-slides [options]="slideOpts">

        <ion-slide>
          <img src="../../assets/slide/slide-1.svg"/>
          <h2>Bienvenue sur  <b>BELSIS</b></h2>
          <p>La platefome qui vous permet de manager votre activite grace a votre telephone.</p>
        </ion-slide>

        <ion-slide>
          <img src="../../assets/slide/slide-2.png"/>
          <h2>Equipe</h2>
          <p>Ajouter votre personnel, pour gerer efficacement votre activite.</p>
        </ion-slide>

        <ion-slide>
          <img src="../../assets/slide/Slide-3.svg"/>
          <h2>Fonctionnement</h2>
          <p>Grace a notre Application votre personnel gere plus efficacement votre activite.</p>
        </ion-slide>

        <ion-slide>
          <img src="../../assets/slide/slide-4.svg"/>
          <h2>Suivi</h2>
          <p>Suivez votre activite ou que vous soyez.</p>
          <ion-button fill="clear"><a (click)="goToAnoterPage('/register')">Créer un compte</a> <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-slide>

      </ion-slides>
      <ion-row>
        <ion-col class="ion-text-center"><a (click)="goToAnoterPage('/login')">Connectez vous</a></ion-col>
      </ion-row>
          
    </ion-content>