<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon id="menu" ion-button ion-btn color="light" name="close" (click)="closeModal()"></ion-icon>
    </ion-buttons>
    <ion-title >NOUVEAU</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
        <ion-grid class="header-bg">
          <div >
            <ion-label color="light ion-text-center block label-title">
            	<img class="profile-image" [src]="">
            </ion-label>
			<div class="take-image">
				<ion-fab-button size="small"  color="light">
					<ion-icon name="camera"></ion-icon>
				</ion-fab-button>
			</div>
            <!--ion-label color="light ion-text-center price-label block">{{restaurant.nom}} </ion-label-->
          </div>
      </ion-grid> 
      <ion-grid>
      </ion-grid>
      <ion-grid>
        <ion-card-title class="ion-text-center activite">Ajouter un personnel</ion-card-title>
        <ion-row>
          <ion-col>
            <div>
               	<form>
					<ion-grid>
						<ion-row>
							<input required placeholder="Nom : " name="name" [(ngModel)]="user.nom" />
						</ion-row>
						<ion-row>
							<input required placeholder="Prénom : " name="prenom" [(ngModel)]="user.prenom" />
						</ion-row>
						<ion-row>
							<input required placeholder="Pseudo : " name="username" [(ngModel)]="user.username" />
						</ion-row>
						<ion-row>
							<input required placeholder="Email : " name="email" [(ngModel)]="user.email" />
						</ion-row>
						<ion-row>
							<input required placeholder="Mot de passe : " name="password" [(ngModel)]="user.password" />
						</ion-row>
						<ion-row>
							<ion-select placeholder="Choisissez un rôle" name="role" [(ngModel)]="user.role" okText="Okay" cancelText="Annuler">
						      <ion-select-option *ngFor="let role of roles" value="{{ role }}">{{ role }}</ion-select-option>
						    </ion-select>
							<!-- input required placeholder="Rôle : " name="role" [(ngModel)]="user.role" /-->
						</ion-row>
						<ion-row>
							<ion-col class="ion-text-center">
								<ion-button (click)="addPersonnel()" class="addProductButton" type="submit">AJOUTER</ion-button>
							</ion-col>
						</ion-row>
					</ion-grid>
				</form>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>


