<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Belsis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-content">
		<ion-tabs>
			<ion-tab-bar slot="top">
				<ion-tab-button tab="entrees" class="ion-selectable">
				<ion-icon name="calendar"></ion-icon>
				<ion-label>Entrées</ion-label>
				</ion-tab-button>

				<ion-tab-button tab="plats">
				<ion-icon name="contacts"></ion-icon>
				<ion-label>Plats</ion-label>
				</ion-tab-button>

				<ion-tab-button tab="desserts">
				<ion-icon name="map"></ion-icon>
				<ion-label>Desserts</ion-label>
				</ion-tab-button>

				<ion-tab-button tab="boissons">
				<ion-icon name="information-circle"></ion-icon>
				<ion-label>Boissons</ion-label>
				</ion-tab-button>
			</ion-tab-bar>
		</ion-tabs>
	</div>
</ion-content>
