#menu{
	ion-icon{
		color: white;
	}
}

ion-header{
	ion-toolbar{
	    --background : #142768!important; 
	    ion-title{
	    	text-align: center;
	    	color: white;
	    }
	    ion-button{
	    	color: white;
	    	ion-menu-button{
	    		color: white;
	    	}
	    }
	}
}
ion-content{
	margin:10px;
	padding:5px;
	div.ion-content{
		//--background-image:url("/assets/bg-belsis.svg");
		background-image: url(/assets/bg-belsis.svg);
	    height: 100%;
	    width: 100%;
	    background-size: 500px 500px;
	    overflow: scroll;
	}
	
}
ion-segment{
	margin-left:15px;
	margin-right:15px;
}

ion-segment-button{
	--background-activated: blue;
}

