ion-row.duration ion-col {
    background: #142768;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

ion-row.type ion-col {
    text-align: center;
    font-size: 13px;
}
ion-row.type ion-col.selected {
    color: #142768;
    font-weight: 800;
}
.list-resume{
    color:black;
}
ion-row.duration ion-col.selected{
    color: black;
    background: white;
    border: 3px solid #142768;
}
table.list-resume {
    width: 100%;
    font-size: 12px;
    tr{
        margin-top: 10px;
        td{
            text-align: center;
        }
    }
}

table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

.principal-products ion-row.principal{
    height: 160px;
    border: 2px solid #1f347b;
        background-size: 100%;
    ion-label {
        font-size: 100%;
        width: 100%;
        background: #00000057;
        height: max-content;
        color: white;
    }
}
.principal-products ion-row{ 
    ion-label {
        font-size: 100%;
        width: 100%;
        background: #00000057;
        height: max-content;
        color: white;
        position: absolute;
        left: 0;
    }
}
ion-card-title.ion-text-center {
    width: 100%;
}
ion-icon#menu {
    font-size: 25px;
            color: white;
    margin-left: 5px;
}
    .flex-center-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.flex{
    display: flex;
}
.rectangle {
    height: 69px;
    width: 20%;
    border-radius: 8px;
    background-color: #194c6f;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin: 5px;
    ion-label {
        font-size: 25px;
        width: 100%;
        text-align: center;
        margin-left: 23px;
        font-weight: 20
    }
    div {
        color: white;
        font-size: 10px;
        position: absolute;
        bottom: 10px;
        text-align: center !important;
        width: 90%;
    }

}
div.list-commande {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
        width: 100%;
    .somme{
        font-size: 12px;
    }
    .table{
        font-size: 10px;
    }
}
.ion-color-secondary {
    --ion-color-base: #9E9E9E !important;
}
ion-fab-button {
    position: absolute;
    right: 0;
    top: 73px;
    right: 5px;
}
.activite {
height: 20px;
    color: #111010;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}
.header-bg{
// background: url(background.svg); 
    background-repeat: no-repeat;
    min-height: 100px;
    background-position: 100% 100%;
    border-color: #142766;
    background: #142767;
    padding-bottom: 15px;
    .label-title{
        font-size: 10px;
    }
    .ion-text-center{
        text-align: center;

    }
    .block{
        display: block;
    }
    .price-label{
        color: white;
        font-size: 25px;
    }
    .table-choice{
        margin: auto;
        display: flex;
        justify-content: center;
        ion-select{
            color: white;
        }
        > div{
            width: max-content;
        }
    }
    .date-label{
        color: black;
        font-size: 15px;
        height: max-content;
        width: max-content;
        padding: 5px 20px 5px 20px;
        border-radius: 8px;
        background-color: #FFF;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        margin-top: 10px;
    }

}
.display_none{
    display: none;
}
@media (min-width : 200px) and (max-width : 500px) {

}
.round{
    ion-icon {
        margin-right: 10px;
        font-size: 30px;
        font-weight: 800;
    }
}
.green{
    color: green;
}
.red{
    color: red;
}
img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.label_bg {
	background: rgba(0, 0, 0, 0.57);
	font-size: 0.8em !important;
	text-align: center;
}