

$white-color: #fff;
$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
}

ion-row {
    height: $height100;
}

ion-col {
    border: 1px solid #488aff;
    background: $white-color;
}

ion-button {
    font-weight: 300;
}
form{
	padding-top: 5%;
}
@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
    }
}
ion-content.md.hydrated {
    	--background: linear-gradient(190deg, #142768 50%, #142768 34%, #142768 52%, #394F99 100%) !important;
}
app-login {
    
}