<ion-content>
	<div class="login-container">
		<form class="login-form" (ngSubmit)="Authenticate()">
			<ion-grid>
				<ion-row class="ion-justify-content-center">
						<ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">

							<div class="ion-text-center">
								<h4>BELSIS</h4>
							</div>
							<div class="ion-padding">
								<ion-item>
									<ion-input type="text" [(ngModel)]="userLogin.username" name="userName" placeholder="Username"></ion-input>
								</ion-item>

								<ion-item>
									<ion-input type="password" [(ngModel)]="userLogin.password"  name="userPassword" placeholder="Password"></ion-input>
								</ion-item>
							</div>

							<div class="ion-padding">
								<ion-button size="large" ion-button type="submit" expand="block">CONNEXION</ion-button>
							</div>
						</ion-col>
				</ion-row>
			</ion-grid>
		</form>
		<div class="ion-text-right">
			<div class="settings-container" (click)="goToGeneralSettings()">
				<ion-text class="settings-text">Paramètres généraux</ion-text><ion-icon name="settings"></ion-icon>
			</div>
		</div>
	</div>
</ion-content>
