$white-color: #fff;
$height100: 100%;

ion-grid {
    //width:100%;
}

ion-row {
}

ion-col {
    border: 1px solid #488aff;
    background: $white-color;
}

ion-button {
    font-weight: 300;
}
form{
	// padding-top: 5%;
}

.login-container {
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
	width: inherit;
	height: 100vh;
	background: linear-gradient(190deg, #142768 50%, #142768 34%, #142768 52%, #394F99 100%);
}

.login-form {
	min-width: 90%;
}

ion-col {
    border: none;
}

.settings-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    color: $white-color;
}

.settings-container .settings-text {
    font-size: .8em;
    margin-right: .5em; 
}


/*
@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
    }
}
*/