/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-popover {
  --min-width: 80%!important;
}

@media (min-width: 0) and (max-width: 576px) {
  .hide-only-xs {
    display: none;
  }
  .product-image {
    border-radius: 100%;
    height:110px;
    width: 110px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .hide-only-sm {
    display: none;
  }
  .product-image {
    border-radius: 100%;
    height:110px;
    width: 110px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .hide-only-md {
    display: none;
  }
  .product-image {
    border-radius: 100%;
    height:220px;
    width: 220px;
  }
  .cool-font {
    font-size: 16pt;
  }	
}

@media (min-width: 992px) and (max-width: 1200px) {
  .hide-only-lg {
    display: none;
  }
  .product-image {
    border-radius: 100%;
    height:220px;
    width: 220px;
  }
  .cool-font {
    font-size: 16pt;
  }
}

@media (min-width: 1200px) {
  .hide-only-xl {
    display: none;
  }
  .product-image {
    border-radius: 100%;
    height:220px;
    width: 220px;
  }
  .cool-font {
    font-size: 16pt;
  }
}

.color-back-green{
  background-color: green;
  color: white;
}

.color-back-red{
  background-color: red;
  color: white;
}

