<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon id="menu" ion-button ion-btn color="light" name="close" (click)="closeModal()"></ion-icon>
    </ion-buttons>
    <ion-title >{{label}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
      <ion-grid class="header-bg">
        <div>
          <ion-label color="light ion-text-center price-label block" *ngIf="restaurant">{{restaurant.nom}} </ion-label>
          <ion-label color="light ion-text-center block label-title">{{cat_name}}</ion-label>
        </div>
      </ion-grid>

      <ion-grid class="show-cat-images" style="display: none">
        <ion-card-title class="ion-text-center activite">Choisir une illustration</ion-card-title>
        <ion-row>
          <ion-col size="4" *ngFor="let source of categories ; let i = index" (click)="getImage(source)"><img src="{{source}}"/></ion-col>
        </ion-row>
      </ion-grid>


      <ion-grid class="show-cat-input">
        <ion-card-title class="ion-text-center activite">{{label}} une table</ion-card-title>
        <ion-row>
          <ion-col>
            <div>
                <form #resetPasswordForm="ngForm">
          <ion-grid>
            <ion-row>
              <input required placeholder="Nom : " name="name" [(ngModel)]="table.name" />
            </ion-row>
            <ion-row>
              <input required placeholder="Description : " name="description" [(ngModel)]="table.description" />
            </ion-row>
            <ion-row>
              <input required placeholder="Numéro : " name="numero" [(ngModel)]="table.numero" />
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button (click)="addOrUpdate()" class="addProductButton" type="submit">{{ label }}</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
            </div>
          </ion-col>
        </ion-row>

      </ion-grid>

</ion-content>
