
	#menu{
		ion-icon{
			color: white;
		}
	}

	.welcome-card img {
	  max-height: 35vh;
	  overflow: hidden;
	}
	ion-card-title{
		text-align:center;
	}
	ion-header{
		ion-toolbar{
		    --background : #142768!important; 
		    ion-title{
		    	text-align: center;
		    	color: white;
		    }
		    ion-button{
		    	color: white;
		    	ion-menu-button{
		    		color: white;
		    	}
		    }
		}
	}
	ion-content{
		div.ion-content{
			//--background-image:url("/assets/bg-belsis.svg");
			background-image: url(/assets/bg-belsis.svg);
		    height: 100%;
		    width: 100%;
		    background-size: 500px 500px;
		}
		
	}
	ion-card{
		border-radius: 5px;
		background:rgba(20,39,104,.98);
		overflow: visible;
		ion-card-content{
			padding: 0;
			.img-content{
				display: flex;
	    		justify-content: center;
			    margin: 20px;
			    img{
			    	width: 100px;
			    	height: 100px;
				}
			}
			.foot{
				text-align: center;
			    background: rgba(255, 255, 255, 0.8);
			    line-height: 40px;
			    color: black;
			    font-weight: bold;
			}
		}
		ion-card-subtitle {
			position: absolute;
		    color: white;
		    right: -25px;
		    top: -25px;
		    /*background: green;*/
		    width: 50px;
		    height: 50px;
		    border-radius: 100%;
		    text-align: center;
		    line-height: 50px;
		    font-size: x-large;
		}
	}

@media (min-width : 200px) and (max-width : 500px) {
	ion-row.ion-margin.part-encart.hydrated.part-encart{
		    margin: 0;
		ion-card {
		    margin: 5px;
		}
		ion-card  ion-card-content .img-content img {
			width: 10vw;
	    	height: 10vw;
	    	max-width: 100px;
			max-height: 100px;
		}
		ion-card ion-card-content .foot{
		    font-size: 3vw;
		    text-align: center;
		    background: rgba(255, 255, 255, 0.8);
		    line-height: 30px;
		    color: black;
		    font-weight: bold;
		}
		ion-card-header.hydrated {
		    padding: 5px;
		}
		ion-col.hydrated {
		    width: 32%;
		    margin: 1px;
		    padding: 0;
		}
		ion-card{
			ion-card-subtitle {
				position: absolute;
			    color: white;    
			    right: -2vw;
    			top: -5px;
			    width: 10vw;
			    height: 10vw;
			    border-radius: 100%;
			    text-align: center;
			    line-height: 10vw;
			    font-size: 4vw;
			}
		}
	}
}