<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="menu" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Belsis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-content">
      <ion-grid >
        <ion-card-title>Les Rapports</ion-card-title>
        <ion-row>
          <ion-col>
            <div> 
              <canvas #barChart></canvas>
              <ion-card-subtitle class="ion-text-center">Commades</ion-card-subtitle>
            </div>
          </ion-col>
          <ion-col>
            <div> 
              <canvas #barChartSecond></canvas>
              <ion-card-subtitle class="ion-text-center">Stocks</ion-card-subtitle>
            </div>
          </ion-col>
        </ion-row>
        <ion-card-title class="ion-text-center">Les Commandes</ion-card-title>
        <ion-row class="ion-margin part-encart">
          <ion-col *ngFor="let commande of etatCommendes">
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle class="primary" [ngStyle]="{'background-color': commande.color}" >{{commande.value}}</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content >
                <div class="img-content">
                  <img [src]="commande.logo">
                </div>
                <div class="foot ion-text-center">
                  {{commande.label}}
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
