<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon id="menu" ion-button ion-btn color="light" name="menu" (click)="openModalMenu()"></ion-icon>
    </ion-buttons>
    <ion-title>
      Belsis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-grid class="header-bg">
          <div >
            <ion-fab-button color="secondary" (click)="goToAnoterPage('/commandes/new')">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
            <ion-label color="light ion-text-center block label-title">Ventes de la journee</ion-label>
            <ion-label color="light ion-text-center price-label block">{{workMoney}} CFA</ion-label>
            <div class="flex-center-row">
              <ion-label color="light ion-text-center date-label block">{{time}}</ion-label>
            </div>
          </div>
      </ion-grid> 
      <ion-grid>
      </ion-grid>
      <ion-grid>
        <ion-card-title class="ion-text-center activite">Activite</ion-card-title>
        <ion-row>
          <ion-col  *ngFor="let commande of etatCommendes" class="rectangle" >
             <ion-label color="light ion-text-center">{{commande.value}}</ion-label>
            <div>
               
              {{commande.label}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-card-title class="ion-text-center activite">Historique</ion-card-title>
      <ion-virtual-scroll [items]="commandes" approxItemHeight="320px">
        <ion-item *virtualItem="let commande"  >
         <div class="list-commande" (click)="openOder(commande.id)" >
            <div class="flex">
              <span class="round">
                <ion-icon name="create" *ngIf="commande.etat=='edition'"></ion-icon>
                <ion-icon name="refresh" class="rotating" *ngIf="commande.etat=='en_cours'"></ion-icon>
                <ion-icon name="checkmark" class="green" *ngIf="commande.etat=='prete'"></ion-icon>
                <ion-icon name="cart" *ngIf="commande.etat=='paye'"></ion-icon>
                <ion-icon name="trash"  class="red" *ngIf="commande.etat=='trash'"></ion-icon>
              </span>
              <div>
                <ion-label class="name">#COM-{{commande.id}}</ion-label>
                <span class="table">Table {{commande.table}}</span>
              </div>
            </div>
            <div class="somme"  [ngClass]="{'red': commande.etat === 'trash','green': commande.etat === 'paye'}" >
              {{commande.price}} FCFA
            </div>
          </div>
        </ion-item>
      </ion-virtual-scroll>

</ion-content>
